[Unit]
Description=Run system maintenance every 12 hours

[Timer]
OnBootSec=15min
OnUnitActiveSec=12h
RandomizedDelaySec=15min
Persistent=true
Unit=system-maintenance.service

[Install]
WantedBy=timers.target
